<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Today's Menu</h1>
    </div>
  </div>
  <% @items.each do |station, description| %>
    <div class="row">
      <div class="col-md-2 station">
        <b><%= "#{station.text.capitalize}" %></b>
      </div>
      <div class="col-md-10 description">
        <%= "#{description.text.capitalize}." %>
      </div>
    </div>
  <% end %>
</div>
