<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Today's Menu <small><%= Date.today%></small></h1>
      <% @meals.each do |key, array| %>
        <div class="row">
          <div class="col-md-12">
            <h4><%= "#{key}" %></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <% array.each do |station, description| %>
              <dl class='dl-horizontal'>
                <dt><%= "#{station}" %></dt>
                <dd><%= "#{description}" %></dt>
              </dl>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class='contact'>
  <div class='container'>
  <p>Send feedback about the site with
    <a href="mailto:lcsimplemenu@gmail.com">lcsimplemenu@gmail.com
    </a>
   </p>
 </div>
</div>


