<!DOCTYPE html>
  <head>
    <title>LC Bon App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <div class='container'>
      <div class="row">
        <div class="col-md-12">
          <p>
            <small>
              Send feedback about the site with
              <a href="mailto:lcsimplemenu@gmail.com">lcsimplemenu@gmail.com</a>
            </small>
          </p>
        </div>
        <div class="col-md-12">
          <p>
            <small>
              Check our github
              <a href="https://github.com/ishoshani/LCBonAp"> here</a>
            </small>
          </p>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>