<!DOCTYPE html>
  <head>
    <title>LC Bon App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Inconsolata' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/custom.css" rel="stylesheet">
  </head>
  <body>
    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-TLJ4WQ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-TLJ4WQ');</script>
<!-- End Google Tag Manager -->

    <%= yield %>
    <div class='container'>
      <div class="row">
        <div class="col-md-12">
          <p>
            <small>
              Send feedback about the site with
              <a href="mailto:lcsimplemenu@gmail.com">lcsimplemenu@gmail.com</a>
            </small>
          </p>
        </div>
        <div class="col-md-12">
          <p>
            <small>
              Check our github
              <a href="https://github.com/ishoshani/LCBonAp"> here</a>
            </small>
          </p>
        </div>
      </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>
  </body>
</html>