<!DOCTYPE html>
  <head>
    <title>LC Bon App</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-responsive.css" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>